<nav class="nav">
  <a class="nav__logo" routerLink="/">{{ 'Vitor Bianchi' }}</a>
  <ul class="nav__links">
    <li>
      <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
        {{ 'HOME' | translate }}
      </a>
    </li>
    <li>
      <a routerLink="/profile" routerLinkActive="active">{{ 'PROFILE' | translate }}</a>
    </li>
    <li>
      <a routerLink="/blog" routerLinkActive="active">{{ 'BLOG' | translate }}</a>
    </li>

    <a
      class="btn btn--cv"
      href="assets/vitor-bianchi-curriculum-vitae.pdf"
      download="vitor-bianchi-curriculum-vitae.pdf"
    >
      <i class="fa-solid fa-download"></i> {{ 'CURRICULUM-DOWLOAD' | translate }}
    </a>
  </ul>
</nav>
